# Compiled files
*__pycache__
*.py[cod]
build/

# Packaging related files
*.egg
*.egg-info
dist/

# Testing files
.pytest_cache
.cache
.tox

# Documentation
doc/build
doc/source/_build

# Development files
Pipfile
Pipfile.lock
